openapi: 3.0.1
info:
  title: API for Index Of Industrial Production (IIP)
  version: 1.0.11
servers:
- url: https://api.mospi.gov.in/
tags:
- name: IIP Index and GrowthRate.
  description: Index and GrowthRate for Annual and Monthly Data.
paths:
  /api/iip/getIipData:
    get:
      tags:
      - IIP Index and GrowthRate.
      operationId: IIPIndexAndGrowthRate
      parameters:
      - name: base_year
        required: true
        in: query
        schema:
          default: 2011-12
          enum:
          - 2011-12
          - 2004-05
          - 1993-94
      - name: frequency
        required: true
        in: query
        description: "Annually or Monthly"
        schema:
          type: string
          enum:
          - Annually
          - Monthly
      - name: financial_year
        in: query
        description: Enter the Financial Year (format YYYY-YY. Comma separated for
          multiple values). Only for frequency=Annually.
        schema:
          type: string
          pattern: ^\d{4}-\d{2}(,\d{4}-\d{2})*$
      - name: year
        in: query
        description: Enter the Year (format YYYY. Comma separated for multiple values).
          Only for frequency=Monthly.
        schema:
          type: string
          pattern: ^\d{4}(,\d{4})*$
      - name: month_code
        in: query
        description: Enter the Month code (from 1-12. Comma separated for multiple
          values). Only for frequency=Monthly.
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: category_code
        in: query
        description: Enter the Category code (from 01 to 11. Comma separated for multiple
          values)
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: subcategory_code
        in: query
        description: Enter the Subcategory code (Kindly refer to the Metadata sheet
          available by clicking the "View Metadata" button)
        schema:
          type: string
          pattern: ^\d+(,\d+)*$
      - name: limit
        in: query
        description: Number of records per page (default 10)
        schema:
          type: integer
          pattern: ^\d+$
      - name: page
        in: query
        description: Enter the page no. (from 1 to n.)
        schema:
          type: string
          pattern: ^\d+$
      - name: type
        required: true
        in: query
        schema:
          default: All
          enum:
          - All
          - Use-based category
          - Sectoral
          - General
      - name: Format
        required: true
        in: query
        description: Select the Output format
        schema:
          type: string
          default: JSON
          enum:
          - JSON
          - CSV
      responses:
        '200':
          description: A JSON array of user information
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Invalid request body
            text/csv:
              schema:
                type: object
                properties:
                  statusCode:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Invalid request body
        '409':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Requested item wasn't found!
      security:
      - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: apiKey
      description: Bearer token to access these api endpoints
      name: Authorization
      in: header
x-original-swagger-version: '2.0'