openapi: 3.0.1
info:
  title: All India Survey on Health in India
  version: 1.0.0
servers:
- url:   https://api.mospi.gov.in/
tags:
- name: NSS75
  description: ( National Sample Survey 75.)
paths:
  /api/nss-75/getNss75Records:
    get:
      tags:
      - NSS75
      operationId: NSS75IndicatorValues.
      # summary: Get  data for an indicator
      description: |
        - **Required:** `survey_code`, `indicator_code`   
        - **Filters (optional):** sub_indicator_code, state_code, sector_code, gender_code, social_group_code, age_group_code, ailments_code, broad_ailment_category_code, hospital_type_code, delivery_type_code, immunisation_type_code, ward_type_code, instituition_type_code, medical_expenditure_type_code, quintile_type_code
         
      parameters:  
        - in: query
          name: survey_code
          required: true
          schema: { type: integer, enum: [1] }
          # default: 1         
        - in: query
          name: indicator_code
          required: true
          schema: { type: integer }
          description: Enter The Indicator code (1-42)
        - in: query
          name: sub_indicator_code
          schema: { type: integer }  
          description: Enter The Sub-Indicator code (1,2)
        - in: query
          name: state_code
          schema: { type: integer }  
          description: Enter The State / UT (1-39)
        - in: query
          name: sector_code
          schema: { type: integer }
          description: Enter The Sector code (1-4) 
        - in: query
          name: gender_code
          schema: { type: integer }
          description: Enter The Gender code (1-7) 
        - in: query
          name: social_group_code
          schema: { type: integer }
          description: Enter The Social Group code (1-5)
        - in: query
          name: age_group_code
          schema: { type: integer }   
          description: Enter The Age Group code (1-24)
        - in: query
          name: ailments_code
          schema: { type: integer }   
          description: Enter The Ailments code (1-73)
        - in: query
          name: broad_ailment_category_code
          schema: { type: integer }  
          description: Enter The Broad Ailment Category code (1-17)
        - in: query
          name: hospital_type_code
          schema: { type: integer }   
          description: Enter The Hospital Type code (1-7)
        - in: query
          name: delivery_type_code
          schema: { type: integer }  
          description: Enter The Delivery Type code (1-4)
        - in: query
          name: immunisation_type_code
          schema: { type: integer }  
          description: Enter The Immunisation Type code (1-2)
        - in: query
          name: ward_type_code
          schema: { type: integer }   
          description: Enter The Ward Type code (1-5)
        - in: query
          name: instituition_type_code
          schema: { type: integer }  
          description: Enter The Institution Type code (1-6)
        - in: query
          name: medical_expenditure_type_code
          schema: { type: integer }  
          description: Enter The Medical Expenditure Type code (1-25)
        - in: query
          name: quintile_type_code
          schema: { type: integer }   
          description: Enter The Quintile Type code (1-6)

        - in: query
          name: limit
          schema: { type: integer, default: 20 }
        - in: query
          name: page
          schema: { type: integer, minimum: 1 }
        - in: query
          name: format
          schema:
            type: string
          description: Set to `xlsx` to download as excel

      responses:
        "200":
          description: A JSON array of user information
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Invalid request body
            text/csv:
              schema:
                type: object
                properties:
                  statusCode:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Invalid request body
      security:
      - bearerAuth: []
 
components:
  securitySchemes:
    bearerAuth:
      type: apiKey
      description: Bearer token to access these api endpoints
      name: Authorization
      in: header
x-original-swagger-version: "2.0"
