openapi: 3.0.1
info:
  title: National Accounts Statistics (NAS)

  version: 1.0.11
servers:
- url: https://api.mospi.gov.in/
tags:
- name: National Accounts Statistics.
  description: Indicator-wise National Accounts Statistics (NAS).
paths:

  /api/nas/getNASData:
    get:
      tags:
      - National Accounts Statistics.
      operationId: NASIndicatorValues.
      parameters:
      - name: base_year
        required: true
        in: query
        description: Select the Base Year (2011-12 supports Current & Back series, 2022-23 supports Current only)
        schema:
          type: string
          default: "2022-23"
          enum:
            - "2022-23"
            - "2011-12"
      - name: series
        required: true
        in: query
        description: |
          Select the Series type.
          - If base_year = 2011-12 → Allowed values: Current, Back
          - If base_year = 2022-23 → Allowed value: Current only
        schema:
          type: string
          default: "Current"
          enum:
            - "Current"
            - "Back"
      - name: frequency_code
        required: true
        in: query
        schema:
          default: "Annually"
          enum:
          - "Annually"
          - "Quarterly"
      - name: indicator_code
        required: true
        in: query
        description: Enter the Indicator code
        #  (from 1 to 22. Comma separated for multiple values)
        schema:
          type: string
      - name: quarterly_code
        in: query
        description: Enter the Quarterly code (from 1 to 4. Comma separated for multiple values)
        schema:
          type: string
      - name: year
        in: query
        description: Enter the Year (format YYYY-YY. Comma separated for multiple values)
        schema:
          type: string
      - name: approach_code
        in: query
        description: Enter the Approach code (from 01 to 03. Comma separated for multiple values)
        schema:
          type: string
      - name: revision_code
        in: query
        description: Enter the Revision code (from 01 to 07. Comma separated for multiple values)
        schema:
          type: string
      - name: account_code
        in: query
        description: Enter the Account code (from 01 to 02. Comma separated for multiple values)
        schema:
          type: string
      - name: institutional_code
        in: query
        description: Enter the Institutional code (from 01 to 11. Comma separated for multiple values)
        schema:
          type: string
      - name: industry_code
        in: query
        description: Enter the Industry code (from 01 to 17. Comma separated for multiple values)
        schema:
          type: string
      - name: subindustry_code
        in: query
        description: Enter the Subindustry code (from 01 to 18. Comma separated for multiple values)
        schema:
          type: string
      - name: page
        in: query
        description: Enter the page no. (from 1 to n.)
        schema:
          type: string
      - name: Format 
        required: true
        in: query
        description: Select the Output format
        schema:
          type: string
          default: JSON
          enum:
          - JSON
          - CSV
      responses:
        "200":
          description: A JSON array of user information
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Invalid request body
            text/csv:
              schema:
                type: object
                properties:
                  statusCode:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Invalid request body
      
        "409":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Requested item wasn't found!
      security:
      - bearerAuth: []
 
components:
  securitySchemes:
    bearerAuth:
      type: apiKey
      description: Bearer token to access these api endpoints
      name: Authorization
      in: header
x-original-swagger-version: "2.0"
