openapi: 3.0.1
info:
  title: All India Survey on Higher Education
  version: 1.0.0
servers:
- url:   https://api.mospi.gov.in/
tags:
- name: NSS80
  description: National Sample Survey 80.
paths:
  /api/nss-80/getNSS80Records:
    get:
      tags:
      - NSS80
      operationId: NSS80IndicatorValues.
      # summary: Get  data for an indicator
      description: |
         - **Required:** `indicator_code`  
         - **Filters (optional):** sub_indicator_code,sector_code,state_code,survey_code,agegroup_code,mobile_type_code,major_reason_code,gender_code,internet_access_code,
         type_of_device_and_network_code,mode_of_transaction_code,mobile_household_assets_code,type_of_network_code,type_of_goods_code,level_of_enrollment_code,    type_of_school_code,expenditure_item_code,sof_code,household_members_code

      parameters:
        - in: query
          name: survey_code
          required: true
          schema: { type: integer, enum: [1] } 
        - in: query
          name: indicator_code
          required: true
          schema: { type:  }
          description: Indicator code (primary filter)
        - in: query
          name: sub_indicator_code
          schema: { type:  }
        - in: query
          name: sector_code
          schema: { type:  }
        - in: query
          name: state_code
          schema: { type:  }
        - in: query
          name: agegroup_code
          schema: { type:  } 
        - in: query
          name: mobile_type_code
          schema: { type:  }
        - in: query
          name: major_reason_code
          schema: { type:  }
        - in: query
          name: gender_code
          schema: { type:  }
        - in: query
          name: internet_access_code
          schema: { type:  } 
        - in: query
          name: type_of_device_and_network_code
          schema: { type:  }
        - in: query
          name: mode_of_transaction_code
          schema: { type:  }
        - in: query
          name: mobile_household_assets_code
          schema: { type:  }   
        - in: query
          name: type_of_network_code
          schema: { type:  }  
        - in: query
          name: type_of_goods_code
          schema: { type:  } 
        - in: query
          name: level_of_enrollment_code
          schema: { type:  } 
        - in: query
          name: type_of_school_code
          schema: { type:  } 
        - in: query
          name: expenditure_item_code
          schema: { type:  } 
        - in: query
          name: sof_code
          schema: { type:  } 
        - in: query
          name: household_members_code
          schema: { type:  } 
        - in: query
          name: limit
          schema: { type: , default: 20 }
        - in: query
          name: page
          schema: { type: , minimum: 1 }
        - in: query
          name: format
          schema:
            type: string
          description: Set to `xlsx` to download as excel

      responses:
        "200":
          description: A JSON array of user information
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Invalid request body
            text/csv:
              schema:
                type: object
                properties:
                  statusCode:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Invalid request body
      security:
      - bearerAuth: []
 
components:
  securitySchemes:
    bearerAuth:
      type: apiKey
      description: Bearer token to access these api endpoints
      name: Authorization
      in: header
x-original-swagger-version: "2.0"
