openapi: 3.0.1
info:
  title: All India Survey on Persons With Disabilities in India
  version: 1.0.0
servers:
- url:   https://api.mospi.gov.in/
tags:
- name: NSS76
  description: NAtional Sample Survey 76.
paths:
  /api/nss-76/getNss76Records:
    get:
      tags:
      - NSS76
      operationId: NSS76IndicatorValues.
      # summary: Get  data for an indicator
      description: |
        - **Required:** `survey_code`, `indicator_code`  
        - **Filters (optional):**  state_code, sector_code, gender_code, disability_type_code, treatment_taken_code, arrangement_of_caregiver_code, use_of_public_transport_code, status_of_receipt_of_aid_help_code
        
      parameters:   
        - in: query
          name: survey_code
          required: true
          schema: { type: integer, enum: [1] }       
        - in: query
          name: indicator_code
          required: true
          schema: { type: integer }
          description: Enter The Indicator code (1 - 13)
        - in: query
          name: state_code
          schema: { type: integer }  
          description: Enter The State / UT (1-39)
        - in: query
          name: sector_code
          schema: { type: integer }
          description: Enter The Sector code (1-3)  
        - in: query
          name: gender_code
          schema: { type: integer }
          description: Enter The Gender code (1-3)
        - in: query
          name: disability_type_code
          schema: { type: integer }   
          description: Enter The Disability Type code (1-8)
        - in: query
          name: treatment_taken_code
          schema: { type: integer }   
          description: Enter The Treatment Taken code (1-10)
        - in: query
          name: arrangement_of_caregiver_code
          schema: { type: integer }
          description: Enter The Arrangement of Caregiver code (1-4)
        - in: query
          name: use_of_public_transport_code
          schema: { type: integer }  
          description: Enter The Use of Public Transport code (1-4)
        - in: query
          name: status_of_receipt_of_aid_help_code
          schema: { type: integer }   
          description: Enter The Status of Receipt of Aid Help code (1-4)
        
        - in: query
          name: limit
          schema: { type: integer, default: 20 }
        - in: query
          name: page
          schema: { type: integer, minimum: 1 }
        - in: query
          name: format
          schema:
            type: string
          description: Set to `xlsx` to download as excel

      responses:
        "200":
          description: A JSON array of user information
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Invalid request body
            text/csv:
              schema:
                type: object
                properties:
                  statusCode:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Invalid request body
      security:
      - bearerAuth: []
 
components:
  securitySchemes:
    bearerAuth:
      type: apiKey
      description: Bearer token to access these api endpoints
      name: Authorization
      in: header
x-original-swagger-version: "2.0"
